<header>
  <div class="container">
    <div class="header-left">
      <a href="/">TweetApp</a>
    </div>
    <div class="header-right">
      <p>投稿一覧</p>
    </div>
  </div>
</header>

<body>

<div class="top-wrapper">
  <div class="container">
    <h1>旅行tweet</h1>
    <p>みんなのおすすめ旅行先おしえて</p>
  </div>
</div>

</body>
