body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(top2.jpg);
  background-size: cover;
  color: white;
}

.header-wrapper {
  display: flex;
}


.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  
}

.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
